<div class="nested-field">
  <%= f.input :number, label: "Number" %>
  <%= f.input :street, label: "Street" %>
  <%= f.input :zip_code, label: "Zip code" %>
  <%= f.input :city, label: "City" %>
</div>
