<div class="container">
  <div class="row">
    <div class="col-xs-4 white-bg bord-rad-2 padding-btm-15 margin-top-10">
    <h1>Create a flat</h1>
      <%= render "form" %>
    </div>
  </div>
</div>
<br>
<br>