<%= simple_form_for([@flat, @booking], html:{ multipart: true }) do |f| %>
  <div class="col-xs-12">
    <%= f.input :start_date, placeholder: 'Trouvez une accroche séduisante !' %>
  </div>
  <div class="col-xs-12">
    <%= f.input :end_date %>
  </div>

  <div class="col-xs-12">
    <br>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>