<div class="container">
  <div class="row">
    <div class="col-xs-4 white-bg padding-btm-15 margin-top-20">
      <h1>Réserver <%= @flat.title %></h1>
      <%= render "form" %>
    </div>
  </div>
</div>
<br>
<br>
