<h1>Congratulations! Someone wants to rent your flat!</h1>

<p>
  <%= @booking.user.first_name %>, you have a new booking from @booking.user.first_name. You can view details <%= link_to "here", booking_path(@booking) %>.
</p>
