<div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 text-justify">

<h1>Ed & Flo</h1>
<p>Fondée en décembre 2014 et basée à Paris, en plein Ile de France, Ed & Flo est une plate-forme communautaire de confiance qui permet de proposer des logements uniques à travers le monde, de les découvrir et de les réserver, en ligne ou sur un téléphone mobile.

Qu'il s'agisse d'un appartement pour une nuit, d'un château pour une semaine ou d'une villa pour un mois, Airbnb offre des expériences de voyage exceptionnelles, à tous les prix, dans plus de 34 000 villes et sur toute la planère. Avec une assistance utilisateurs ultra compétente et une communauté d'utilisateurs qui ne cesse de croître, Airbnb est le moyen le plus facile de monétiser un espace inoccupé et de le mettre en avant auprès de millions d'utilisateurs.</p>


      </div>
    </div>
  </div>