<div class="wrapper text-center">
  <h1 class="home">Feel at home ! Everywhere </h1>
  <%= link_to 'Recherchez un appartement', flats_path, class:"btn btn-danger" %>
</div>

<div class="features">
  <div class="container ">
    <div class="row text-center">
      <div class="col-xs-4 padding-feature">
        <h3>Discover Amazing Places</h3>

        <p>Find hosts with extra rooms, entire homes, and unique accommodations like castles and igloos.</p>

      </div>
      <div class="col-xs-4 padding-feature">
        <h3>Book a Stay</h3>

        <p>Connect with hosts, confirm travel dates, and pay — all through Airbnb's trusted services.</p>

      </div>
      <div class="col-xs-4 padding-feature">
        <h3>Travel</h3>

       <p> Feel at home, anywhere you go in the world. Learn more about how to travel on Airbnb.</p>

      </div>
    </div>
  </div>
</div>




