@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "navbar";
@import "footer";

$bg-color: rgba(240, 240, 240, 1);

body {
  margin-top: 50px;
}


.spacer100 {
  heigt: 100px;
}

.white-bg {
  background-color: rgba(255, 255, 255, .9);
}

.grey-bg {
  background-color: rgba(240, 240, 240, 1);
}

.margin-top-20 {
  margin-top: 20px;
}

.bord-rad-2 {
  border-radius: 2px;
}

.padding-btm-15 {
  padding-bottom: 15px;
}

.flat-picture {
  max-height: 210px;
}

.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.home {
  color: white;
  font-size: 72px;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

.wrapper {
  background-image: image-url('home.jpeg');
  background-size: cover;
  height: 650px;
  padding-top: 150px;
}

.picture-placeholder {
  height: 210px;
  width: 300px;
}

.padding-sides-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.features {
  background-image: url('grid.jpg');
}

.padding-feature {
   padding: 50px 20px;
}

.margin-right-0 {
  margin-right: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-left-15 {
  padding-left: 15px;
}
.margin-left-0 {
  margin-right: 0;
}

.padding-left-0 {
  padding-right: 0;
}

.margin-sides-0 {
  margin-right: 0;
  margin-left: 0;
}

.total-width {
  width: 100%;
}

.notices {
  position: absolute;
  left: 50%;
  width: 300px;
  margin-top: 15px;
  margin-left: -150px;
  z-index: 2;
}