@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "navbar";
@import "footer";

body {
  margin-top: 50px;
}

.signup {
  background-color: rgba(220, 220, 220, 0.4);
  border-radius: 3%;
  margin-top: 10px;
}

.signin {
  background-color: rgba(220, 220, 220, 0.4);
  padding: 15px;
  border-radius: 3px;
  margin-top: 10px;
}

.spacer100 {
  heigt: 100px;
}

.white-bg {
  background-color: rgba(255, 255, 255, .9);
}

.grey-bg {
  background-color: rgba(240, 240, 240, 1);
}

.margin-top-10 {
  margin-top: 10px;
}

.bord-rad-2 {
  border-radius: 2px;
}

.padding-btm-15 {
  padding-bottom: 15px;
}

.flat-picture {
  max-height: 210px;
}

.home {
  color: white;
  font-size: 72px;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

.wrapper {
  background-image: image-url('home.jpeg');
  background-size: cover;
  height: 650px;
  padding-top: 150px;
}

.picture-placeholder {
  height: 210px;
  width: 300px;
}