<div id="footer">

  <ul class='list-inline text-center'>
    <li><a href="https://www.facebook.com/AirbnbFrance?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
    <li><a href="https://twitter.com/Airbnb" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/company/309694?trk=tyah&trkInfo=tarId%3A1417462264419%2Ctas%3Aairbnb%2Cidx%3A2-1-6" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="http://www.pinterest.com/airbnbfrance/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
    <li><a href="https://www.youtube.com/user/Airbnb" target="_blank"><i class="fa fa-youtube"></i></a></li>
  </ul>
  <p class='text-center copy'> ©EdFlobnb, Inc.</p>
  <p class="text-center"><%= link_to "A propos", about_path %><p>

</div>
